@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');


body {
background-color: hsl(33, 35.50%, 93.90%);
}

h1 {
    font-family: Young Serif;
}

h2 {
    color: hsl(14, 45%, 36%); 
    font-family: Young Serif;
}
h3 {
    color: hsl(332, 51%, 32%);
    font-family: Young Serif;
}
ul {
    list-style: disc;
}
p {
    font-size: 16px;
    font-family: Outfit;
}
li {
    font-family: Outfit;
}
hr{
    collor: hsl(14, 45%, 36%);
}

  .items{
    display: flex;
    flex-direction: row;
    justify-content: start;   
  }
  .items p{
    font: size 700px;
    margin-right: 20rem;
  }
  .items span{
    color: hsl(332, 51%, 32%);
    font-weight: 700;
  }

  .content{
    max-width: 60%;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    justify-content: start;
    margin-left: 15%;
    line-height: 2;
   padding: 40px;
   text-align: justify;
   border-radius: 15px;
  }
  
.content img{
    width: 100%;
    border-radius: 15px;
    
}

.preparation {
    background-color: hsl(30, 54%, 90%);
    padding: 10px;
}

.attribution {
    font-size: 16px;
    text-align: center;
    min-height: max-content;
    margin: 5rem;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }